{% extends 'store/base.html' %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-7">
    <div class="card shadow-sm border-0 p-4">
      <h2 class="mb-3">Checkout</h2>

      <div class="alert alert-info">
        <strong>Total Amount:</strong> Rs. {{ total }}
      </div>

      <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label">Full Name</label>
          <input type="text" name="full_name" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Phone</label>
          <input type="text" name="phone" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Address</label>
          <textarea name="address" class="form-control" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary w-100">
          Place Order
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}