<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
</head>
<body>

<h1>Checkout</h1>

<h2>Total Amount: Rs. {{ total }}</h2>

<form method="POST">
    {% csrf_token %}

    <p>
        Full Name:
        <input type="text" name="full_name" required>
    </p>

    <p>
        Phone:
        <input type="text" name="phone" required>
    </p>

    <p>
        Address:
        <textarea name="address" required></textarea>
    </p>

    <button type="submit">Place Order</button>
</form>

</body>
</html>